body {
    background-color: #F8F8F8;
    font-family: 'Inter', sans-serif;
}

.mainnavigation, .about-me-navigation {
    background-color: #FBFBFB;
    box-shadow: 1px 1px 30px rgb(219, 219, 219);
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

#btn-back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    background-color: #F0F0F3;
    border-radius: 50%;
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

.fa-arrow-up {
    color: #192A51;
}

/* overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%; */

h1 {
    font-family: 'Inter', sans-serif, bold;
    font-size: 40px;
}

h2 {
    font-size: 30px;
    color: #B29993;
    padding-top: 5px;
}

.hero-image {
    background-image: url("../img/hero-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #F4F2F1;
}

.hero-image-about-me {
    background-image: url("../img/about-me/about-me-hero-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hero-image-case-study {
    background-color: #F9F7F6;
}

.hero-image-case-study-sw {
    background-color: #F5F6F9;
}

.logo {
    max-width: 30%;
}

.img-spacer {
    max-width: 70%;
    /*padding: 50;*/
    margin-top: 60px;
}

.intro-img {
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0);
    width: 90%;
    margin: 100px 0 0 100px;
}

.my-hero-image-col {
    justify-content: flex-end!important;
}


.my-hero-image {
    width: 70%;
}

.my-hero-name {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 62px;
    color: #192A51;
}

.my-hero-title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 40px;
    color: #192A51;
    padding-top: 8px;
}
.my-hero-text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #192A51;
    line-height: 42px;
    padding: 32px 150px 0 150px;
}

.btn-contact {
    margin-top: 24px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    background-color: #11151A !important;
    color: #FFF !important;
    letter-spacing: 2px;
}

.hero-text-alignment {
    text-align: center;
}

.my-header-section-spacer {
    padding: 200px 0;
}

.col-sm .hero-text {
    padding: 50px;

}

.hero-text {
    padding: 150px;
}

.hero-text-name {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 48px;
    color: #192A51;
}

.hero-text-title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 30px;
    color: #B29993;
}

.intro {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 30px;
    padding-right: 150px;
}

.projects-container {
    background-color: #11151A;
    padding: 60px 0 100px 0;
}

.projects {
    width: 100%;
    border-bottom: 1px solid #F4F2F1;
    line-height: 0.1em;
    margin: 0 0 20px;

    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    color: #F4F2F1;
}

.projects span {
    background: #11151A;
    padding: 0 15px;
}

.web-version {
    display: block;
}

.mobile-version {
    display: none;
}

.case-study {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #B29993;
    font-size: 14px;
    letter-spacing: 1px;
}

.case-study-date {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    color: #192A51;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.case-study-title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 40px;
    color: #F4F2F1;
    line-height: 54px;
}

.case-study-body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #F4F2F1;
    font-size: 18px;
    line-height: 36px;

    margin: 32px 170px 32px 0;
}

.case-study-body-suggar {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #F4F2F1;
    font-size: 18px;
    line-height: 36px;
    margin: 32px 70px 32px 0;
}

.case-study-project, .case-study-project-comming-soon {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #B29993;
    text-decoration: none;
    font-size: 16px;
}

.case-study-project:hover {
    text-decoration: none;
    color: #FAFAFA;
}

.case-study-box {
    padding-top: 200px;
}

.case-study-box-suggar {
    padding-top: 150px;
}


.case-study-box-space-left {
    padding-left: 60px !important;
}

.footer {
    background-color: #FAFAFA;
    padding: 50px;
}

.footer-text {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #192A51;
    line-height: 46px;
}

.footer-contacts {
    justify-content: center!important;
}

.footer-contacts a, .about-me-contacts a {
    text-decoration: none;
    color: #192A51;
}

.footer-contacts a:hover, .about-me-contacts a:hover {
    text-decoration: none;
    color: #0C66C2;
}

.icon-hover {
    color: #131418;
}

.icon-hover:hover {
    color: #0e76a8;
}

/* case study design*/
.container-color {
    background-color: #F9F7F6;
}

.container-color-sw {
    background-color: #F5F6F9;
}

.main-image {
    max-width: 120%;
}

.cs-hero-text {
    padding: 100px;
}

.cs-title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 58px;
    color: #192A51;
}

.cs-section-name {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #192A51;
    font-size: 16px;
    letter-spacing: 1px;
}

.cs-section-title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    color: #192A51;
    font-size: 40px;
    margin: 8px 0 32px 0;
}

.cs-problem-solution-title, .cs-progress-indicator {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    color: #192A51;
    font-size: 30px;
    margin: 8px 0 32px 0;
}

.cs-progress-indicator {
    margin: 60px 0 32px 0 !important;
}

.cs-paragraph {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #192A51;
    line-height: 32px;
}

.cs-bullet-points li {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #3C3D54;
    margin: 20px 0;
}

.cs-paragraph a, .cs-bullet-points a {
    color: inherit;
}

.painpoint-solution-shortener {
    padding-right: 100px;
}

.so-prototype-shortener {
    padding-right: 70px;
}

.duration {
    text-align: center;
}

.duration span {
    font-size: 30px;
}

.cs-section-spacer, .header-section-spacer {
    padding: 100px 0 100px 0;
}

.cs-final-design-section-spacer {
    padding: 100px 0 50px 0;
}

.my-header-section-spacer-up {
    padding-top: 100px;
}

.cs-section-spacer-down {
    padding-bottom: 100px;
}

.goal-shortener {
    padding-right: 270px;
}

.ideas-shortener {
    padding-right: 120px;
    padding-bottom: 32px; 
}

.login-ecard-img {
    width: 60%;
}

.indicator-probem-img {
    margin-top: 46px;
    width: 80%;
}

.sw-prototype-div {
    padding-top: 80px;
}

.donation-spacer-top {
    padding-top: 120px;
}

.donation-page-paragraph {
    padding-left: 46px;
}

.so-prototype-img {
    width: 80%;
}

.cs-ideas {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin: 0 0 50px 40px;
    color: #192A51;
}

.cs-ideas img {
    width: 30%;
}

.cs-point {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: 8px 0 32px 0;
    /*padding-left: 10px;*/
}

.cs-point-spacer {
    margin: 20px 0;
}

.finding-subsection {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 28px;
}

.final-solution-text-spacer {
    padding: 0 40px 0 50px;
}

.final-solution-text-spacer-lg {
    padding: 0 40px 0 80px;
}

.image-center {
    display: flex;
    justify-content: center;
}

.text-decoration {
    text-decoration-line: underline;
    text-decoration-thickness: 8px;
}

.text-decoration-red {
    text-decoration-color: #D83D0E;
}

.text-decoration-blue {
    text-decoration-color: #41C3D5;
}

.text-decoration-green {
    text-decoration-color: #7AA752;
}

.color-red {
    color: #D83D0E;
}

.color-blue {
    color: #41C3D5;
}

.fa-circle {
    margin: 2px;
}

.spacer-left {
    padding-left: 30px;
}

.spacer-left-lg {
    padding-left: 50px;
}

.outcomes {
    padding-right: 70px;
}

.spacer-up {
    padding-top: 50px;
}

.mobile-spacer-up {
    padding-top: 0;
}

.more-projects {
    font-family: 'Lato', serif;
    font-weight: 600;
    font-size: 24px;
    color: #F8F2E4;
}

.next-project {
    padding-top: 25px;
}

.next-project a, .next-project a:hover, .more-projects a, .more-projects a:hover {
    color: black;
    text-decoration: none;
}

.more-projects a:hover {
    font-weight: 700;
}

.about-me-img {
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0);
    width: 130%;
    margin: 50px 0 0 50px;
}

.about-me-title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 40px;
    color: #192A51;
    margin-bottom: 32px;
}

.contact-container-color {
    background-color: #F6F2EE;
}

.about-me-container-color {
    background-color: #F4F2F1;
}


.about-me-paragraph {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #192A51;
    line-height: 35px;
    margin-bottom: 20px;
}

.about-me-achievements {
    border-top-style: solid;
    border-top-color: #EFE9E7;
    border-bottom-style: solid;
    border-bottom-color: #EFE9E7;
    padding: 50px 0;
}

.contact-form {
    padding: 0 200px;
}

.contact-title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 64px;
    color: #192A51;
    padding: 100px 0 32px 0;
}

.contact-paragraph {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.contact-form-names {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.contact-message {
    width: 100%;
    height: 100%;
    border: 1px solid #D4D4D4;
}

.contact-input {
    width: 100%;
    border: 1px solid #D4D4D4;
    height: 55px;
}

input, textarea {
    text-indent: 10px;
}

.user-interview {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 32px;
    color: #192A51;
}

.numbers {
    width: 2%;
    margin-right: 8px;
}

.design-ideas {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.img-duration {
    width: 55%;
}

.img-tools {
    width: 15%;
}

.tools-web {
    display: block;
}

.tools-mobile {
    padding-top: 50px;
    display: none;
}

.img-design-process {
    width: 60%;
    margin: 40px 0;
}

.img-type-of-gift-before {
    margin-top: 100px;
}
.img-light-bulb {
    width: 3%;
}
.size-final-solution-spacer {
    padding: 0 40px 0 45px;
}

.img-e-card-before {
    margin-top: 104px;
}
.img-shopping-card-before {
    margin-top: 150px;
}
.img-prototype {
    width: 80%;
}
.diamond-paragraph {
    padding: 0 120px 0 0;
}
.img-how-might-we {
    width: 80%;
}
.img-information-arch {
    width: 60%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    /* override the navbar defaults */
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.navbar-light .navbar-nav .nav-link.active, .dropdown-item {
    /* override the navbar defaults */
    color: #192A51 !important;
    font-size: 18px !important;
}

.nav-item:hover {
    /* border-style: solid; */
    /* border-color: #E9ECEF; */
    background-color: #E9ECEF;
}


.dropdown-menu {
    border: none !important;
}

.tools-img {
    margin-right: 8px;
    width: 6%;
}

.dream-team-img {
    width: 80%;
}

.mobile-web-spacer-up {
    padding-top: 40px;
}

@media screen and (max-width: 992px) {
    .logo {
        max-width: 80%;
    }

    .main-nav-mobile {
        padding: 6px 0;
    }

    

    .my-hero-name {
        font-size: 46px;
    }

    .my-header-section-spacer {
        padding: 60px 0;
    }

    .header-section-spacer {
        padding: 0;
    }

    .case-study-title {
        line-height: 46px;
        padding-top: 8px;
    }

    .case-study-body, .case-study-body-suggar {
        margin: 24px 0 24px 0;
    }

    .case-study-box, .case-study-box-suggar {
        padding-top: 24px;
    }

    .case-study-box-space-left {
        padding-left: 12px !important;
    }

    .web-version {
        display: none;
    }

    .mobile-version {
        display: block;
    }

    .hero-image {
        background-image: none;
    }

    .my-hero-title {
        font-size: 32px;
        padding-bottom: 6px;
        padding-top: 0;
    }

    .my-hero-text {
        padding: 10px 0 0 0;
        font-size: 18px;
    }

    .hero-text-alignment {
        text-align: left;
    }

    .btn-contact {
        margin-top: 24px !important;
        padding: 16px 50px !important;
    }

    .btn-contact-wrapper {
        text-align: center;
    }

    .my-hero-image-col {
        justify-content: center!important;
    }

    .footer {
        padding: 50px 25px 100px 25px;
    }

    .footer-contacts {
        justify-content: left!important;
    }

    .my-order-1 {
        order: 1;
    }
    .my-order-2 {
        order: 2;
    }

    .cs-title {
        line-height: 62px;
    }

    .cs-hero-text {
        padding: 40px;
    }

    .main-image, .img-design-process, .img-prototype, .img-information-arch, .img-how-might-we {
        width: 100%;
    }

    .img-design-process {
        margin: 32px 0 0 0; 
    }

    .tools-web {
        display: none;
    }

    .tools-mobile {
        display: block;
    }

    .tools-mobile img {
        width: 90%;
    }

    .final-solution-text-spacer, .size-final-solution-spacer {
        padding: 0 10px 0 34px;
    }

    .img-type-of-gift-before, .img-e-card-before, .img-shopping-card-before {
        margin-top: 10px;
    }
    .img-top-spacer {
        margin-top: 20px;
    }

    .col-spacer {
        padding-top: 50px
    }

    .cs-section-spacer {
        padding: 40px 0 40px 0;
    }

    .cs-section-spacer-down {
        padding-bottom: 50px;
    }

    .cs-progress-indicator {
        margin: 60px 0 24px 0;
    }    

    .mobile-spacer-up, .mobile-web-spacer-up {
        padding-top: 32px;
    }

    .painpoint-spacer-top, .sw-prototype-div {
        padding-top: 32px;
    }

    .donation-spacer-top {
        padding-top: 70px;
    }

    .so-prototype-shortener {
        padding-right: 0;
    }

    .donation-page-paragraph {
        padding-left: 22px;
    }

    .goal-shortener {
        padding-right: 0;
    }

    .ideas-shortener {
        padding-right: 0;
        padding-bottom: 0;
    }

    .cs-final-design-section-spacer {
        padding: 40px 0 20px 0;
    }

    .painpoint-solution-shortener {
        padding-right: 0;
    }

    .login-ecard-img {
        width: 100%;
    }
    
    .indicator-probem-img {
        margin-top: 0;
        width: 98%;
    }

    .so-prototype-img {
        width: 100%;
    }

    .outcomes {
        padding-right: 0;
    }

    .diamond-paragraph {
        padding: 0;
    }

    .numbers {
        width: 8%;
        margin-right: 0;
    }

    .about-me-navigation {
        box-shadow: none;
        background-color: inherit;
    }

    .about-me-navigation-hero {
        background-image: url("../img/about-me/about-me-hero-background-mobile.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .hero-image-about-me {
        background-color: #FAFAFA;
        background-image: none;
    }

    .about-me-intro-web-version {
        display: none;
    }

    .my-header-section-spacer-up {
        padding-top: 32px;
    }

    .about-me-title {
        margin-bottom: 16px;
    }

    .contact-section {
        padding-top: 42px;
    }

    .about-me-skills {
        margin-left: 8px;
    }

    .dream-team-img {
        width: 100%;
    }
}
